.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
    z-index: 2;
}

.cabecalho h1 {
    color: aliceblue;
    cursor: pointer;
}

.cabecalho a {
    text-decoration: none;
    color: aliceblue;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 50vh;
    background: #13232c;
    z-index: 1;
    transform: translateY(-100vh);
    transition: transform .7s ease-out;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none; 
     
}

.menu ul > li{
    font-size: 2rem;
    color: aliceblue;
}

.link-login-home{
    display: inline-flex;
    width: 50%;
    justify-content: space-evenly;
}

.link-login-home a{
    color: aliceblue;
    text-decoration: none;
}


.fadeOut {
    opacity: 0;
    transition: 1s;
}

.animation-menu{
    text-decoration: none;
    cursor: pointer;
    color: aliceblue;
    transition: font-size .3s ease-out;
}

.animation-menu:hover {
    text-decoration: underline;
    color: #00a7c4;
}
