*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(#97aeb3, #00a7c4) no-repeat;
    color: aliceblue;
    font-size: 2rem;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

:root {
    font-size: 10px;
}

.box {
    margin: 0 auto;
    width: 90%;
    max-width: 980px;
}

header {
    width: 100%;
    background-color: #152f3e;
}

main {
    width: 100%;

}

h1, h2, h3, h4, h5, h6 {
    padding: 2rem 0;
    text-align: center;
    font-size: 2.5rem;
    color: #152f3e;
}

input {
    border: 4px #152f3e solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    padding: .5rem;
    margin: .5rem .5rem;
    color: aliceblue;
    background-color: #00a7c438;
    font-weight: 700;   
    text-align: center; 
    outline: 0; 
}

input:focus {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:  aliceblue 4px solid;
}

select{
    border: 2px #152f3e solid;
    border-radius: 4px;
    padding: .5rem;
    margin: .5rem .5rem;
    color: #191919;
    background-color: aliceblue;
    font-weight: 700;   
}

::-webkit-input-placeholder {
    color: #333333b4;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #333333b4;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #333333b4;  
 }
 
 :-ms-input-placeholder {  
    color: #333333b4;  
}

table {
    width: 100%;
    position: relative;
    margin-top: 2rem;
}

th {
    width: 33%;
}

footer {
    background: #152f3e;
    width: 100%;
}
