.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-convidados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

#input-convidado {
    width: 100%;
    max-width: 250px;
    font-size: 1.6rem;
}

.btn-adicionar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: aliceblue;
    background-color: green;
    transition: background-color .5s ease-out ;
    cursor: pointer;
}

.btn-adicionar:hover {
    cursor: pointer;
    background-color: rgb(0, 70, 0);
    color: aliceblue;
}

.lista-convidados {
    width: 90%;
}

.convidado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    color: #152f3e;
}

.count-convidado {
    width: 25%;
}

.name-convidado {
    width: 50%;
    text-align: left;
}

.delete-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem; 
    background-color: #bd2323;
    border-radius: 50%;
    color: aliceblue;
    transition: .5s ease-in-out background;
    cursor: pointer;
}

.delete-item:hover {
    background-color: #8b2d2dce;
}

.total {
    margin: 3rem auto;
    color:#152f3e;
}

.save-list {
    margin: 2rem auto;
    width: 150px; 
    height: 30px; 
    background: #ac2a2a;
    color: aliceblue;
    border-radius: 4px;
    border: none;
    transition: transform .3s ease-in-out, background-color .3s ease-in-out;
    outline: 0;
    cursor: pointer;
    border: none;
}

.save-list:hover {
    transform: scaleY(.97);
    background: #833131;
}

@media (max-width: 600px){
    .count-convidado {
        width: 10%;
    }
}