.geral-lista {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
}

#add-produto {
    width: 40%;
    max-width: 350px;

}

#add-quantidade {
    width: 20%;
    max-width: 90px;

}

#add-tipo {
    max-width: 20%;
}

.btn-adicionar {
    text-align: center;
    width: 10%;
}

.adicionar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: aliceblue;
    background-color: green;
    transition: .5s ease-out background, color;
}

.adicionar:hover {
    cursor: pointer;
    background-color: #004600;
    color: aliceblue;
}

.delete-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem; 
    margin: 0 auto;   
    background-color: #bd2323;
    border-radius: 50%;
    color: aliceblue;
    font-size: 1rem;
    transition: .5s ease-in-out background;
    cursor: pointer;
}

.delete-item:hover {
    background-color: #8b2d2dce;
}

.lista-produtos {

    width: 100%;  
    position: relative;  
    color: #152f3e;

}

.produtos-list td {
    text-align: center;
    margin: 1rem auto;
}

.total {
    margin: 3rem auto;
    color: #152f3e;
}

.save-list {
    margin: 2rem auto;
    width: 150px; 
    height: 30px; 
    background: #ac2a2a;
    color: aliceblue;
    border-radius: 4px;
    border: none;
    transition: transform .3s ease-in-out, background-color .3s ease-in-out;
    outline: 0;
    cursor: pointer;
}

.save-list:hover {
    transform: scaleY(.97);
    background: #833131;
}


@media (min-width:  768px) {
    .input-btn{
        justify-content: space-evenly;
    }
}