
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80vh;
    margin: 10vh auto;
}

.text-home {
    margin: 0 auto;
}

.text-home h2{
    font-size: 5rem;
    padding: 0 0 2rem 0;
}

.text-home p {
    font-size: 2rem;
    text-align: justify;
    line-height: 2;
}

.imagem-home {
    display: block;
    float: left;
}

.imagem-home img {
    max-width: 250px;
}


@media (max-width: 600px) {

    .text-home h2 {
        font-size: 3rem;
    }
    .imagem-home img {
        width: 100px;
    }
    .text-home {
        width: 100%;
    }
}